img {
    width: 15vw;
}
button {
    padding-top: 2vh;
    padding-bottom: 2vh;
    font-size: 1.5em;
}
body {
    margin: 6vh auto;
    width: 50vw;
    background-color: lightcoral;
    font-family: 'Roboto', sans-serif;
}
section {
    margin: 0 auto;
}
#controlSection {
    text-align: center;
}